body {
    background-color: #70989f;
    color: whitesmoke;
    font-size: 21px;
}
h1 {
    font-size: 50px;
    color: #48e505; 
}
p {
    color: #8cf95e;
}
.box {
    background-image:  url(../img/coding_sprezzatura.jpg);
    padding: 100px 100px;
    margin: 100px;
    background-size: cover;
    background-position: top;
}
/* style.css*/
div {
    color: rgb(213, 192, 192);
}
/* style.css*/
.alert-text {
    color: yellow;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}
.severe-alert {
    color: rgb(236, 60, 60);
}
#title {
    background-color: aqua;
    font-size: 13px;
    font-style: italic;
    color: firebrick;
}
.subsection.header {
    color: red;
  }
  .subsection.header {
    color: rgb(247, 135, 7);
  }
  
  .subsection#preview {
    color: rgb(129, 129, 135);
  }